<p>
  post3 works!
</p>

<!--<p>{{title}}</p>-->
<!--<strong>{{number - 10}}</strong>-->
<!--<p><strong>{{arr}}</strong></p>-->
<!--<p>{{obj.b.c}}</p>-->
<!--<p>{{10+50}}</p>-->
<!--<p>{{'Hello' + 'World'}}</p>-->

<!--<img [src]="img" />-->

<!--<input type="text" (input)="onInput($event)" />-->
<!--<p><strong>{{inputValue}}</strong></p>-->
<!--<br/>-->

<!--<button (click)="onClick()">Click me</button>-->
<!--<br/>-->
<!--<input-->
<!--        type="text"-->
<!--        (keyup.enter)="onInput($event)"-->
<!--        (blur)="onBlur(myInput.value)"-->
<!--        #myInput-->
<!--/>-->


<input type="text" [(ngModel)]="title" />
<p>{{title}}</p>
