<div class="container">
  <h1>Angular Components</h1>
</div>

<app-post-form
        (onAdd)="updatePosts($event)"
></app-post-form>
<hR>
<app-post
        *ngFor="let p of posts"
        [post]="p"
        (onRemove)="removePost($event)"
>
  <div #info>
    <small *ngIf="p.text.length > 10; else short"> Post long</small>
    <ng-template #short>
      <small>Post short</small>
    </ng-template>
  </div>
</app-post>




<!--<app-post></app-post>-->
<!--<app-post2></app-post2>-->
<!--<app-post3></app-post3>-->
<!--<app-post4></app-post4>-->
<!--<app-post5></app-post5>-->
<!--<app-post6></app-post6>-->
<!--<app-post7></app-post7>-->
